.sidebar {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 12rem;
  height: 20rem;
  margin-left: .5rem;
  border-radius: .5rem;
  z-index: 2;

  &__title {
    text-align: center;
    font-weight: 700;
  }

  &__input {
    margin-left: .3rem;
  }

  &__results {
    padding: .4rem .2rem;
    font-weight: 400;

    &:not(:last-child) {
      border-bottom: 1px solid gray;
    }
  }

  &__park-name {
    color: white;
  }
}